<div class="row">
  <div class="col-md-offset-6 col-md-2"><%= link_to 'Open a New Account', new_account_path, class: 'btn btn-default' %></div>
</div>

<div class="row">
    <div class="col-md-8">
        <h1>Accounts</h1>

        <table class="table table-striped">
            <tr>
                <th>Account Type</th>
                <th>Account Number</th>
                <th>Balance</th>
            </tr>

            <% @accounts.each do |account| %>
            <tr>
                <td><%= account.account_type %></td>
                <td><%= account.id %></td>
                <td><%= account.balance %></td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
